#nav-btn,
#logoutButton {

  color: #013ca5;
  font-weight: bold;
  margin: auto;
  width: 8rem;
  border: 2px solid transparent;
  border-radius: 30px;
  text-align: center;
  font-size: large;
}

#nav-btn:hover,
#logoutButton:hover {
  border: 2px solid #013ca5;
  border-radius: 20px;
  cursor: pointer;
}
#profileDropdown {
  
  color: #013ca5;
  font-weight: bold;
  margin: auto;
  width: 8rem;
  border: 2px solid transparent;
  border-radius: 30px;
  text-align: center;
  font-size: large;

}
#profileDropdown::after {
  display: none;
  color: #013ca5;


}
.dropdown-menu.bg-info {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important; 
}